<div id='main_content'>
<h2 class='grid_12'> Associar Tipos de Chamados</h2>

   <div class="clean"/>
   <center>
      <a href="javascript:history.back()">Voltar</a>
   </center>
   <br/>

   <%= form_tag :action => 'update_tipo_de_chamado' %>
      <%= hidden_field_tag :id, @sistema.id %>
      <div class="grid_12">
         <div class="box">
            <div class="header">
               <img width="16" height="16" alt="" src="/img/icons/packs/fugue/16x16/ui-text-field-format.png"/>
               <h3>Associar Tipos de Chamado</h3> <span/>
            </div>
            <div class="content with_actions">
               <div class="section _100">
                  <%= label_tag 'Sistema' %>
                  <div>
                      <%= text_field_tag :nome, @sistema.nome, :readonly => true %>
                  </div>
               </div>
               
               <% @tipo_chamado.each do |t| %>
                  <div class="section _50">
                     <%= label_tag t.nome %>
                     <div>
                        <%= check_box_tag "tipo[]", t.id, @sistema.tipo_chamados.include?(t)  %>
                     </div>
                  </div>
               <% end %>
            </div>
            <div class="actions">
               <div class="actions-right">
                  <%= submit_tag "Confirmar" %>
               </div>
            </div>
         </div>
      </div>
   </form>

</div>
</div>
